<div class="tablewrapper">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Value in Inventory</th>
        <th>Change in Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render food_inventories %>
    </tbody>
  </table>
</div>
<%= link_to "Inventory an Item", new_program_food_inventory_path(@program)  %>
