<p>Dear <%= @resource.name %>!</p>

<p>When have a received a request to reset your password. To change your password, click on the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :initial => true, :reset_password_token => @resource.reset_password_token) %></p>

<p>Thank you,</p>

<p>Meghan Osborn, SSP Business Manager</p>