%h2 Manage Groups
%h4 Register, schedule and make other changes to groups
%table
  %tr
    %td
      %a{:href => registration_register_path}Register a new group
    %td Add a new group registration
  %tr
    %td
      %a{:href => registration_schedule_path}Schedule a group
    %td Convert a registered group to a scheduled group
  %tr
    %td
      %a{:href => registration_update_path}Make other group changes
    %td Add, delete and edit information related to sessions (start and stop dates, enrollment, etc)
  %tr
    %td
      %a{:href => registration_show_schedule_path}View Schedule
    %td View the current schedule