.group-container
  .index_as_table
    %table
      %thead
        %tr
          %th Project Name
          %th Type
          %th Start Date
          %th Stage
          %th Estimated Cost
          %th Actual Cost
          %th Amount Remaining
          %th Estimated Days
          %th Actual Days
          %th Remaining Days
          %th Estimated Cost/Day
          %th Actual Cost/Day
      %tbody
        = render 'projects/project', :projects => @program.projects
