.group-container
  %table
    %thead
      %tr
        %th
        %th Start Date
        %th End Date
        %th Type
        %th Scheduled Adults
        %th Scheduled Youth
        %th Total
    = render @program.sessions