<div id = 'active_admin_content'>
  <div class='index_content'>
    <div class='index_as_table'>
  <table class='index_table'>
    <thead>
      <tr>
        <th>Program Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Weeks</th>
        <th>Adults</th>
        <th>Youth</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render programs %>
    </tbody>
  </table>
</div>
</div>
</div>