    <div class='tablewrapper'>
  <table>
    <thead>
      <tr>
        <th>Program Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Weeks</th>
        <th>Adults</th>
        <th>Youth</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render programs %>
    </tbody>
  </table>
</div>
