<table>
  <tr>
    <td>Last Inventory Amount:</td>
    <td id="last-inventory"><%= @last_inventory %></td>
  </tr>
  <tr>
    <td>Base Units:</td>
    <td id="base-unit"><%= @base_units %></td>
  </tr>
    <td>Last Purchase Date:</td>
    <td id="last-inventory-date"><%= @last_inventory_date %></td>
  </tr>
</table>
