.tablewrapper
  %table
    %thead
      %tr
        %th Item Name
        %th In Inventory
        %th New Amount
        %th Consumed
        %th Avg Cost
        %th Total Consumed Cost
    
    %tbody
      = render food_inventory_food_items

    %tfoot
      %tr
        %th #{food_inventory_food_items.count} items inventoried
        %th
        %th
        %th
        %th
        %th= number_to_currency (food_inventory_food_items .map &:total_price).sum
