<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Date</th>
      <th>Purchaser</th>
      <th>Total</th>
      <th>Tax</th>
      <th>Accounted for</th>
      <th>Unaccounted for</th>
    </tr>
  </thead>
  <tbody>
    <%= render purchases%>
  </tbody>
</table>
