<div class = "panel"><h3>Registration Information 2</h3>
    <div class align="panel contents" dir="">

        <p>Is active church?: <%= church.active %></p><br/>
        <p>Is registered church?: <%= church.registered %></p><br/>

    </div>
</div>