%h1 About
= render :partial => "layouts/ssp_info"
%content
  %p The Sierra Service Project is a nonprofit Christian organization dedicated to providing faith-rich service experiences for youth and young adults.
  This application is intended solely for the use of SSP employees and associated churches groups.