 <div id="title_bar">
    <div id="titlebar_left">
        <h2>Messages of the day</h2>

      f = File.new(File.join(RAILS_ROOT, 'config', 'sometext.txt'))

then text = f.read gets me the information.
    </div>
 </div>