<div id="active_admin_content"  class="with_sidebar">
  <div id="main_content_wrapper">
    <div class="panel">

      <% if signed_in? %>
        <h2>Welcome to the SSP Information Center</h2>
      <% else %>
          <h2><%= link_to "Welcome to the SSP Information Center. Please sign in.", new_admin_user_session_path%></h2>
      <% end %>
        <br>
        <p>This application is intended for the sole use of SSP employees and client groups. Any other use is prohibited.</p>

    </div>
 </div>
 </div>
