%div
  %table
    %tr
      %td
        %a{:href => registrations_path}
          %img{:src => "/images/groups.jpg", :alt => "Group Manager",:height => 75, :width => 75}
      %td
        %a{:href => admin_path}
          %img{:src => "/images/admin.jpg", :alt => "Admin Center", :height => 75, :width => 75}
      %td
        %a{:href => food_path}
          %img{:src => "/images/cook.jpg", :alt => "Food/Tabatha", :height => 75, :width => 75}
      %td
        %a{:href => construction_path}
          %img{:src => "/images/const.jpg", :alt => "Construction/CTAB",:height => 75, :width => 75}
    %tr
      %td
        %a{:href => registrations_path}Group Manager
      %td
        %a{:href => admin_path}Admin Center
      %td
        %a{:href => food_path}Food/Tabatha
      %td
        %a{:href => construction_path}Construction/CTAB

%h1 Messages of the day