 <div id="title_bar">
    <div id="titlebar_left">
        <h2>Welcome to Sierra Service Project Information Center</h2>
        <br>
        <p>This application is intended for the sole use of SSP employees and client groups. Any other use is prohibited.</p>
    </div>
 </div>