- if signed_in?
  %h3 Welcome, #{current_admin_user.first_name} #{current_admin_user.last_name}!
  -#- if can? :manage, Program
  -#  %form{:action => "/?month=#{@month}", :method => :get}
  -#    = label_tag 'Program'
  -#    = select_tag 'program', options_for_select([["All", ""]] + Program.current.map {|u| [u.to_s, u.id]}, @program.try(:id))
  -#    = submit_tag 'Filter'