<div id = 'active_admin_content'>
  <div class='index_content'>
    <div class='index_as_table'>
        <table class='index_table'>

    <thead>
      <tr>
        <th>Vendor Name </th>
        <th>Site</th>
        <th>Contact</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'vendor_with_site', :collection => vendors %>
    </tbody>
  </table>
</div>
</div>

</div>
