<tr>
  <td><%= link_to vendor_with_site.name, vendor_with_site %></td>
  <td><%= vendor_with_site.site.name %></td>
  <td><%= vendor_with_site.contact %></td>
  <td><%= format_phone(vendor_with_site.phone) %></td>
</tr>
