<div class='tablewrapper'>
  <table id="material_item_estimateds">
    <thead>
      <tr>
        <th>Item name</th>
        <th>Comments</th>
        <th>Unit of measure</th>
        <th>Item cost</th>
        <th></th>
      </th>
    </thead>
    <tbody>
      <%= render standard_items %>
      <% if standard_items.empty? %>
        <tr><td colspan=10>There are no standard items for this project type.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>