<div class='tablewrapper'>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Category</th>
        <th>Base Unit</th>
        <th>Taxed?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render items %>
    </tbody>
  </table>
</div>
