
    <footer class="round">
          <p>Copyright (c) Sierra Service Project 2012</p>
           <p><%= link_to "About", about_path, %> | <%= link_to "Contact",
                    contact_path %> | <%= link_to "Help", help_path %> |
            <a href ="http://sierraserviceproject.org/">Sierra Service Project</a>
           </p>

    </footer>
